@charset "UTF-8";

/*

TYPICAL DEVICE BREAKPOITS (Ref: W3C).

Pequenas telas: Até 600px.
Celular: 600px à 768px.
Tablets: 768px à 992px.
Computadores: 992px à 1200px.
Grandes telas: Igual ou maiores que 1200px.

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }

    section#iLogin {
        width: 80vw;
        height: 280px;
    }

    section#iLogin > div#iImagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#iLogin > div#iFormulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }
    
    section#iLogin{
        width: 950px;
        height: 300px;
    }

    section#iLogin > div#iImagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    section#iLogin > div#iFormulario{
        float: left;
        width: 60%;
    }

    div#iFormulario > h1{
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    div#iFormulario p{
        text-align: justify;
        font-size: 1.2em;
    }
}